.header-logo {
  margin: 0;

  &__link {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: $color-light-blue;
    transition: background-color 0.2s ease-in-out;
    text-decoration: none;

    &:hover,
    &:focus {
      background-color: $color-blue;
    }// &:hover, &:focus

  }// &__link

  &__link-title {
    display: none;
    color: $color-white;
    font-size: 16px;
    padding-left: 10px;

    @media (min-width: $bp-small) {
      display: block;
    }// @media (max-width: $bp-small)
  }// &__link-title

  .svg-icon--logo {
    display: block;
    width: 46px;
    height: 33px;
  }// .svg-icon--logo

}// .header-logo
