.link {

  &--read-more {
    display: flex;

    svg {
      margin-left: 0;
      transition: margin-left 0.2s ease-in-out;
    }// svg

    &:hover,
    &:focus {
      svg {
        margin-left: 10px;
      }
    }// &:hover, &:focus
  }// &--read-more

  &--skip {
    position: absolute;
    top: -40px;
    left: 10px;
    background: $color-white;
    padding: 10px;
    z-index: 100;
    opacity: 0;

    &:focus {
      opacity: 1;
      top: 10px;
    }// &:focus

  }// &--skip

}// .link
