/* Variables
/* + + + + + + + + + + + + + + + + + + + + + + + + + + + */

// Colours
$color-orange: #CC4B00; // (Links)
$color-yellow: #FFC700; // (Navigation highlight)
$color-light-blue: #006EF5; // (Branding)
$color-blue: #004EAE; // (Search and Small screen navigation)
$color-dark-blue: #013371; // (hover/focus in navigation)
$color-gray: #767676; // (Meta info and placeholder text)
$color-dark-gray: #333333; // (Content and in-form search icon)
$color-white: #FFFFFF; // (Header links / icons and search input)

// Breakpoints
$bp-small: 800px;
